AFarmWorkplace/Connected Services/WCFServer/WcfServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4321/WcfServer?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4321/WcfServer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4321/WcfServer?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContract_TestServer_InputMessage">
    <wsdl:part name="parameters" element="tns:TestServer" />
  </wsdl:message>
  <wsdl:message name="IContract_TestServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestServerResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_AddProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProducts" />
  </wsdl:message>
  <wsdl:message name="IContract_AddProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_FindProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:FindProducts" />
  </wsdl:message>
  <wsdl:message name="IContract_FindProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IContract_ProcessCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCheck" />
  </wsdl:message>
  <wsdl:message name="IContract_ProcessCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessCheckResponse" />
  </wsdl:message>
  <wsdl:portType name="IContract">
    <wsdl:operation name="TestServer">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/TestServer" message="tns:IContract_TestServer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/TestServerResponse" message="tns:IContract_TestServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/AddProducts" message="tns:IContract_AddProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/AddProductsResponse" message="tns:IContract_AddProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/FindProducts" message="tns:IContract_FindProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/FindProductsResponse" message="tns:IContract_FindProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProcessCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IContract/ProcessCheck" message="tns:IContract_ProcessCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContract/ProcessCheckResponse" message="tns:IContract_ProcessCheck_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContract" type="tns:IContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestServer">
      <soap:operation soapAction="http://tempuri.org/IContract/TestServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProducts">
      <soap:operation soapAction="http://tempuri.org/IContract/AddProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindProducts">
      <soap:operation soapAction="http://tempuri.org/IContract/FindProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessCheck">
      <soap:operation soapAction="http://tempuri.org/IContract/ProcessCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfServer">
    <wsdl:port name="BasicHttpBinding_IContract" binding="tns:BasicHttpBinding_IContract">
      <soap:address location="http://localhost:4321/WcfServer" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>